@model Introducao.Models.Pessoa
@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

@*<div>
    <b>Pessoa Id</b>
</div>
<div>
    @ViewData["PessoaId"]
</div>
<div>
    <b>Nome</b>
</div>
<div>
    @ViewData["Nome"]
</div>
<div>
    <b>Tipo</b>
</div>
<div>
    @ViewData["Tipo"]
</div>*@


<div>
    <b>@Html.LabelFor(x=> x.PessoaId)</b>
</div>
<div>
    @Model.PessoaId
</div>
<div>
    <b><b>@Html.LabelFor(x => x.Nome)</b></b>
</div>
<div>
    @Model.Nome
</div>
<div>
    <b><b>@Html.LabelFor(x => x.Tipo)</b></b>
</div>
<div>
    @Model.Tipo
</div>

@Html.ActionLink("Voltar", "Index", "Home")



